@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.footer{
    position: absolute;
    width: 100vw;
    height: 48.4rem;
    left: 0rem;
    top: 224rem;
    background: #DFDFDF;
}

.urssuLogo{
    position: absolute;
    width: 12.7rem;
    height: 12.7rem;
    left: 9.1rem;
    top: 5.6rem;   
}

.yourssu{
    position: absolute;
    width: 23.7rem;
    height: 7.4rem;
    left: 9.9rem;
    top: 15rem;

    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    line-height: 7.4rem;
    color: rgba(0, 0, 0, 0.6);
}
.normal{
    font-weight: 500; 
}
.intro{
    position: absolute;
    left: 9.9rem;
    top: 24.3rem;

    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.4rem;

    color: rgba(0, 0, 0, 0.6);
}

.facebook{
    position: absolute;
    width: 6.7rem;
    height: 6.7rem;
    left: 149.7rem;
    top: 8.6rem;
}

.instagram{
    position: absolute;
    width: 6.7rem;
    height: 6.7rem;
    left: 162.1rem;
    top: 8.6rem;
}

.kakao{
    position: absolute;
    width: 6.7rem;
    height: 6.7rem;
    left: 174.5rem;
    top: 8.6rem;
}